<div class="contactus-page">
    <div class="page-container">
      <div class="header-container">
        <h1>Contact Us</h1>
        <div style="clear:both;"></div>
      </div>

      <div class="contactUsCard">
        <!--<div class="raining-logo" ng-repeat="n in cc.buildArray(10) track by $index" ng-style="{left: cc.setX($index)}"><img src="imgs/logos/logoW.png"></div>-->
        <div class="bouncing-logo" ng-repeat="n in cc.buildArray(3) track by $index" random-motion><img src="imgs/logos/logoW.png"></div>
        <div class="contact-text">For Music information or Booking inquiries email us at: <a href="mailto:mindcontrolempire@gmail.com">MindControlEmpire@gmail.com</a></div>
      </div>

    </div>
</div>
