<div class="media-page">
  <div class="header-container">
    <h1>Media</h1>
    <div style="clear:both;"></div>
  </div>

  <div class="media">
    <div class="page-container">
      <div class="gallery-container">

        <div class="gallery-item-container" infinite-scroll='mc.loadMore()'>
          <div class="image-item" ng-repeat="item in mc.displayItems">
            <div class="item-container" ng-click="mc.enlargeImage($event, item)">
              <img ng-src="{{item.img}}">
            </div>
          </div>
          <div class="loading-animation" ng-if="mc.loading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
