<div class="releases-details-page">
  <div class="header-container">
    <h1>Releases</h1>
    <div style="clear:both;"></div>
  </div>

  <div class="releases-details">
    <div class="page-container">
      <div class="bouncing-logo" ng-repeat="n in rc.buildArray(3) track by $index" random-motion><img src="imgs/logos/logoW.png"></div>
      <div class="releases-profile" >
        <div class="profile-container">

          <!-- MixTapes -->
          <div class="mixtape-section release-section">
            <div class="title">Mixtapes</div>            
          </div>

          <!-- Videos -->
          <div class="videos-section release-section">
            <div class="title">Videos</div>
          </div>

          <!-- Music -->
          <div class="music-section release-section">
            <div class="title">Tracks</div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
