.media-page {
  .header-container { }
  .media {
    width: 95%;
    margin: 0px auto;
    padding: 30px 0px;
    *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .page-container {
      background-color: @color-theme-background;
      padding: 20px 0px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      .gallery-container {
        display: block;
        padding: 20px;
        // NEW
        .gallery-item-container {
          position: relative;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .loading-animation {
            text-align: center;
            display: block;
            width: 100%;
            i { font-size: 200px;}
          }
          .image-item {
            max-width: 25%;
            width: 25%;
            padding: 10px;
            .item-container {
              background: rgba(255,255,255,1);
              padding: 5px;
              overflow: hidden;
              img { width: 100%;}
            }
          }
        }
      }
    }
  }
}

.md-dialog-container {
  z-index: 101;
  md-dialog {
    border-radius: 0 !important;
    background-color: rgba(0,0,0,0.9) !important;
    min-width: 30%;
    md-toolbar { background-color: rgba(0,0,0,0) !important; }
    .pop-img {
      width: 100%;
    }
  }
}
