<div class="row home-row">
    <div class="container page-container">
        <div class="home-subtitle">News</div>
        
        <!--Next & Previous -->
        
        <!--News Articles-->
        <div class="news-artitles">
            <%= render 'newsArticles', page: 1 %>
        </div>
        
        <!--News Page Navigation -->
        <div class="news-pages">
            <ul class="mce-pagination">
                <% for i in 1..@articlecount %>
                    <li id="pagination<%= i %>"><a data-id=<%= i %> ><%= i %></a></li>
                <% end %>
            </ul>
        </div>

    </div>
</div>

<script>
    $( document ).ready(function() {
        $('#pagination1').addClass("active");
    });
</script>