<div class="row page-row">
    <div class="container page-container grey-container event-page">
        <div class="home-subtitle">Contact Us</div>
        
        <div class="contact-card col-sm-6 col-sm-offset-3">
            <div class="contact-info">For Music information or Booking inquiries email us at: <a href="mailto:mindcontrolempire@gmail.com">MindControlEmpire@gmail.com</a></div>
        </div>
        
    </div>
</div>
        