<div class="footer-container">
  <div class="footer-section">
    <div class="footer-row"><div class="title"><span>M</span>ind <span>C</span>ontrol <span>E</span>mpire</div></div>
    <div class="footer-row"><div class="email">MindControlEmpire@gmail.com</div></div>
  </div>
  <div class="footer-section">
    <div class="footer-row"><div class="social-media"></div></div>
    <div class="footer-row"><div class="copyright"><i class="fa fa-copyright"></i> 2015 by Mind Control Empire, LLC</div></div>
  </div>
</div>
