<div class="footer-container">
  <div class="footer-section">
    <div class="footer-row"><div class="title"><span>M</span>ind <span>C</span>ontrol <span>E</span>mpire</div></div>
    <div class="footer-row"><div class="email">MindControlEmpire@gmail.com</div></div>
  </div>
  <div class="footer-section">
    <div class="footer-row"><div class="copyright"><i class="fa fa-copyright"></i> 2015 by Mind Control Empire, LLC</div></div>
    <div class="footer-row">
      <div class="social-media">
          <a class="footer-social twitter" href="https://twitter.com/mnd_cntrl" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="footer-social youtube" href="https://www.youtube.com/channel/UCUK6PsiimB1Di0hYvg0xXkQ" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
