<div class="nav-container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="/imgs/logos/logoB_text.png" class="logo" alt="Mind Control Empire Logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="mceNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a href=""><span>A</span>rtists</a></li>
          <li><a href=""><span>T</span>he Empire</a></li>
          <li><a href=""><span>N</span>ews</a></li>
          <li><a href=""><span>E</span>vents</a></li>
          <li><a href=""><span>R</span>eleases</a></li>
          <li><a href=""><span>C</span>ontact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="nav-bottom theme-back"></div>
</div>
