<div class="nav-container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="app"><img src="/imgs/logos/logoB_text.png" class="logo" alt="Mind Control Empire Logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="mceNavbar">
        <ul class="nav navbar-nav pull-right">
          <li><a ui-sref="app.artists" ng-class="{'active':hdc.checkActivePage('artists')}"><span>A</span>rtists</a></li>
          <li><a ui-sref="app.empire" ng-class="{'active':hdc.checkActivePage('empire')}"><span>T</span>he Empire</a></li>
          <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}"><span>N</span>ews</a></li>
          <li><a ui-sref="app.events" ng-class="{'active':hdc.checkActivePage('events')}"><span>E</span>vents</a></li>
          <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}"><span>R</span>eleases</a></li>
          <li><a ui-sref="app.contactus" ng-class="{'active':hdc.checkActivePage('contactus')}"><span>C</span>ontact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="nav-bottom theme-back"></div>
</div>
