.member-container {
    padding-top: 20px;
    padding-bottom: 20px;
    
    border-radius:10px;
    margin-top: 20px;
}
.empire-title-container {
    background-image:url('../siteimg/MCE-metro.png');
    background-repeat: no-repeat;
    background-position: -50px -280px; 
    background-size: 100% 350%;
}
.empire-title {
    font-size: 30px;
    font-weight:bold;
    color: #000000;
}
.empire-title-img {
    height: 200px;
    overflow: hidden;
    position:relative;
}
.empire-title-img img{
    position:absolute;
    top:-290px;
    left:50px;
    width: 80%;
}
.empire-member {
    border-bottom: 3px solid #000000;
    padding:0px 7px 5px 7px;
}
.empire-member-name i {
    background-color: #000000;
    color:#ffffff;
    font-size:20px;
    padding: 10px 10px;
    border-radius: 25px;
    
}
.empire-member-name span {
    font-size: 25px;
    font-weight:bold;
    margin-left: 10px;
    vertical-align: bottom;
}

.empire-social {
    padding-top: 15px;
}
.empire-social a + a {
    margin-left: 20px;
}
.empire-social a i {
    font-size: 20px;
    color: #000000;
}

.empire-social a:hover i {
    color: #ffffff;
}

.empire-position {
    color: #ffffff;
    font-weight: bold;
    
    padding-left: 15px;
}